### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [381]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_pd = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [382]:
unique_player = purchase_data_pd["SN"].nunique()
unique_player

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [383]:
unique_items = purchase_data_pd["Item ID"].nunique()
avg_price = purchase_data_pd["Price"].mean()
nmb_purchases = len(purchase_data_pd)
total_revenue = purchase_data_pd["Price"].sum()

In [384]:
purchase_analysis_df = pd.DataFrame({"Number of Unique Items" : [str(unique_items)], \
                                         "Average Price" : ["$"+str(round(avg_price,2))], \
                                         "Number of Purchases" : [str(nmb_purchases)], \
                                         "Total Revenue" : ["$"+str(total_revenue)]})
purchase_analysis_df.head()

  Number of Unique Items Average Price Number of Purchases Total Revenue
0                    183         $3.05                 780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [385]:
NumMale = len(purchase_data_pd.loc[purchase_data_pd['Gender'] == "Male", 'SN'].unique()) 
NumFemale = len(purchase_data_pd.loc[purchase_data_pd['Gender'] == "Female", 'SN'].unique()) 
NumNondis = len(purchase_data_pd.loc[purchase_data_pd['Gender'] == "Other / Non-Disclosed", 'SN'].unique())
gender_demo_df = pd.DataFrame({"Total Count" : [NumMale, NumFemale, NumNondis], \
                            "Percentage of Players" : [str(round(((NumMale/unique_player) * 100),2)), \
                                                       str(round(((NumFemale/unique_player) * 100),2)), \
                                                       str(round(((NumNondis/unique_player) * 100),2))]}, \
                                                      index = ["Male", "Female", "Other / Non-Disclosed"])
gender_demo_df.head()

                       Total Count Percentage of Players
Male                           484                 84.03
Female                          81                 14.06
Other / Non-Disclosed           11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [386]:
purmale = len(purchase_data_pd.loc[purchase_data_pd['Gender'] == "Male", 'SN'])
purfemale = len(purchase_data_pd.loc[purchase_data_pd['Gender'] == "Female", 'SN'])
purnondis = nmb_purchases - purmale - purfemale
avgpurchase_male = round((purchase_data_pd.loc[purchase_data_pd['Gender'] == "Male", 'Price'].mean()),2)
avgpurchase_female = round((purchase_data_pd.loc[purchase_data_pd['Gender'] == "Female", 'Price'].mean()),2)
avgpurchase_nondis = round((purchase_data_pd.loc[(purchase_data_pd['Gender'] != "Male") & (purchase_data['Gender'] != "Female"), 'Price'].mean()),2)
total_male = round(sum(purchase_data_pd.loc[purchase_data_pd['Gender'] == "Male", 'Price']),2)
total_female = round(sum(purchase_data_pd.loc[purchase_data_pd['Gender'] == "Female", 'Price']),2)
total_nondis = round(sum(purchase_data_pd.loc[(purchase_data_pd['Gender'] != "Male") & (purchase_data['Gender'] != "Female"), 'Price']),2)
avgtotal_male = round((TOT_PurValMale / NumMale),2)
avgtotal_female = round((TOT_PurValFemale / NumFemale),2)
avgtotal_nondis = round((TOT_PurVALOther / NumNondis),2)
       
Gender_PurchAnalysis_DF = pd.DataFrame ({
       "Purchase Count" : ["",str(purfemale), str(purmale),str(purnondis)],
       "Average Purchase Price" : ["","$"+str(AVG_PurFemale), "$"+str(avgpurchase_male),"$"+str(avgpurchase_nondis)],
       "Total Purchase Value" : ["","$"+str(avgpurchase_female), "$"+str(total_male), "$"+str(total_nondis)],
       "Average Total Purchase per Person" : ["", "$"+str(avgtotal_female),"$"+str(avgtotal_male),"$"+str(avgtotal_nondis)]
},index = ["Gender", "Female", "Male", "Other / Non-Disclosed"])
Gender_PurchAnalysis_DF

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$3.2,$3.2,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [387]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 49]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data_pd["Total Count"] = pd.cut(purchase_data_pd["Age"], bins, labels=group_names)
player_age = purchase_data_pd.groupby('Total Count')['SN'].nunique()
per_age = (player_age / unique_player)

age_demo_df = pd.DataFrame({"Total Count" : player_age, "Percentage of Players" : (per_age * 100)}, index = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])
age_demo_df["Percentage of Players"] = age_demo_df["Percentage of Players"].map("{:.2f}".format)
age_demo_df
#

       Total Count Percentage of Players
<10             17                  2.95
10-14           22                  3.82
15-19          107                 18.58
20-24          258                 44.79
25-29           77                 13.37
30-34           52                  9.03
35-39           31                  5.38
40+             12                  2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [388]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 49]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data_pd["Prices"] = pd.cut(purchase_data_pd["Age"], bins, labels=group_names)
purchasecount_age = purchase_data_pd.groupby("Prices")["Price"].count()
avgprice_age = purchase_data_pd.groupby("Prices")["Price"].mean()
totalvalue_age = purchase_data_pd.groupby("Prices")["Price"].sum()
avgperperson_age = totalvalue_age / player_age
#avgperperson_age
#avgprice_age
#purchasecount_age
#totalvalue_age
puranalysis_age_df = pd.DataFrame({"Purchase Count" : purchasecount_age, "Average Purchase Price" : avgprice_age, "Total Purchase Amount" : totalvalue_age, "Avg Total per Person" : avgperperson_age}, index = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])
puranalysis_age_df["Average Purchase Price"] = "$"+ puranalysis_age_df["Average Purchase Price"].map("{:.2f}".format)
puranalysis_age_df["Total Purchase Amount"] = "$"+ puranalysis_age_df["Total Purchase Amount"].map("{:.2f}".format)
puranalysis_age_df["Avg Total per Person"] = "$"+ puranalysis_age_df["Avg Total per Person"].map("{:.2f}".format)
puranalysis_age_df

,Purchase Count,Average Purchase Price,Total Purchase Amount,Avg Total per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [389]:
totalsn_count = purchase_data_pd["SN"].value_counts()
playeravg_group = purchase_data_pd.groupby(["SN"])["Price"].mean()
playertotal_group = purchase_data_pd.groupby(["SN"])["Price"].sum()
topspenders_df = pd.DataFrame({"Purchase Count" : totalsn_count, \
                               "Average Purchase Price" : playeravg_group, \
                               "Total Purchase Value" : playertotal_group})
topspenders_sort_df = topspenders_df.sort_values("Total Purchase Value", ascending=False)
topspenders_sort_df["Average Purchase Price"] = "$"+ topspenders_sort_df["Average Purchase Price"].map("{:.2f}".format)
topspenders_sort_df["Total Purchase Value"] = "$"+ topspenders_sort_df["Total Purchase Value"].map("{:.2f}".format)

topspenders_sort_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [424]:
itemid = purchase_data_pd.groupby(['Item ID', 'Item Name'])
purchase_count = itemid['Item ID'].count()
total_purchase_value = itemid['Price'].sum()
item_price =  total_purchase_value / purchase_count


items_df = pd.DataFrame({"Purchase Count": purchase_count,
                       "Item Price": item_price,
                       "Total Purchase Value": total_purchase_value})


most_popular_items = items_df.sort_values(by = ['Purchase Count'], ascending = False)
most_popular_items["Item Price"] = "$"+ most_popular_items["Item Price"].map("{:.2f}".format)
most_popular_items["Total Purchase Value"] = "$"+ most_popular_items["Total Purchase Value"].map("{:.2f}".format)
most_popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [427]:
most_popular_items = items_df.sort_values(by = ['Total Purchase Value'], ascending = False)
most_popular_items["Item Price"] = "$"+ most_popular_items["Item Price"].map("{:.2f}".format)
most_popular_items["Total Purchase Value"] = "$"+ most_popular_items["Total Purchase Value"].map("{:.2f}".format)
most_popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80